<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>최종 프로젝트</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
    
    <style>
  
  		/*필수공지 색처리*/
  		.important 		 {background-color:#ffffdd;}
  		.important:hover {background-color:#ffff91 !important;}
 
	    /*현재 페이지 색처리*/
	    .current-page {color:blue;}
	    
    </style>
    
    <script>
    	
    	// 작성하기 버튼 실행
    	$(function() {$("#btn_Write").click(function() {location = "/Inotice/AdminWrite";});});
    	
    	// 각 부서 버튼 실행
    	$(function() {$("#btn_Dept1").click(function() {location = "/Inotice/AdminList?deptno=전체부서";});});
    	$(function() {$("#btn_Dept2").click(function() {location = "/Inotice/AdminList?deptno=개발부";});});
    	$(function() {$("#btn_Dept3").click(function() {location = "/Inotice/AdminList?deptno=인사부";});});
    	$(function() {$("#btn_Dept4").click(function() {location = "/Inotice/AdminList?deptno=영업부";});});
    	
    </script>

    <body>
        <!-- header 시작 -->
        <header th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <aside th:insert="fragments/nav"></aside>
            <!-- nav 종료 -->

            <section class="contents">
                <h3 class="tit_h3">전체공지사항</h3>
				<div>
					<div class="flex_start" style="gap: 10px;">
						<button type="button" class="button1" id="btn_Dept1">전체부서</button>
						<button type="button" class="button1" id="btn_Dept2">개발부</button>
						<button type="button" class="button1" id="btn_Dept3">인사부</button>
						<button type="button" class="button1" id="btn_Dept4">영업부</button>
					</div>
					<form method="get" action="/Inotice/AdminList">
						<div style="margin-top:-39px;" align="right">
							<input style="width:300px;"type="text" name="search" th:value="${search}"> &nbsp;&nbsp;
							<button type="submit" class="search_button">검색</button>
						</div>
					</form>
					<table class="table1" th:if="${ptotalPage > 0}">
						<colgroup>
			 				<col style="width:8%"  >
							<col style="width:auto">
							<col style="width:12%" >
							<col style="width:12%" >
							<col style="width:8%"  >
							<col style="width:12%" >
						</colgroup>
						<thead style="background-color:#f2f2f2;">
							<tr>
								<th scope="col">번호</th>
								<th scope="col">제목</th>
								<th scope="col">부서</th>
								<th scope="col">작성자</th>
								<th scope="col">조회수</th>
								<th scope="col">게시일</th>
							</tr>
						</thead>
						<tbody style="background-color:white;">
							<tr th:each="result,myState : ${plist}" th:class="${result.intcca == '필수'} ? 'important' : '' ">
								<td align="center">
									<!-- 필수유형 값 3개까지만 표시 이후는 보통변환및 번호 표시 -->
									<span th:if="${result.intcca == '필수'}">공지</span>
        							<span th:unless="${result.intcca == '필수'}" 
        								  th:text="${startPageRownum - myState.index}">
        							</span>
								</td>
								<td align="center">
									<a th:href="@{|/Inotice/Admin/1/${result.intcno}|}" th:text="${result.intctt}" 
									   th:style="${'color:blue;'}">
									</a>
								</td>
								<td align="center" th:text="${result.deptno}" th:style="${'color:blue;'}"></td>
								<td align="center">관리자</td>
								<td align="center" th:text="${result.intcht}" th:style="${'color:blue;'}"></td>
								<td align="center" th:text="${#strings.substring(result.intcrd,0,10)}"></td>
							</tr>
						</tbody>
					</table>
					<table th:if="${!#lists.isEmpty(plist)}" th:class="paging">
						<tr>
							<!-- 맨 앞으로 (indexpage=1) -->
							<td><a th:href="@{|/Inotice/AdminList?indexpage=1&search=${search}|}">&lt;&lt;</a></td>
							<!-- 이전 페이지 (indexpage=current-1, 단 1보다 작으면 1) -->
							<td class="td_page1">
								<a th:href=
								   "@{|/Inotice/AdminList?indexpage=${indexpage > 1 ? indexpage - 1 : 1}&search=${search}|}">
									&lt;
								</a>
							</td>
							<!-- 현재 페이지 -->
							<td th:each="n : ${#numbers.sequence(startPage, endPage)}">
								<a th:href="@{|/Inotice/AdminList?indexpage=${n}&search=${search}|}">
									<span th:text="${n}" th:class="${n} == ${indexpage} ? 'current-page' : '' "></span>
								</a>
							</td>
							<!-- 다음 페이지 (indexpage=current+1, 단 totalPage보다 크면 totalPage) -->
							<td>
								<a th:href=
				  "@{|/Inotice/AdminList?indexpage=${indexpage < ptotalPage ? indexpage + 1 : ptotalPage}&search=${search}|}">
								   &gt;
								</a>
							</td>					
							<!-- 맨 뒤로 -->
							<td><a th:href="@{|/Inotice/AdminList?indexpage=${ptotalPage}&search=${search}|}">&gt;&gt;</a></td>
						</tr>
				    </table>
					<div th:if="${!#lists.isEmpty(plist)}" class="flex_end">
						<button type="button" class="button1" id="btn_Write">작성하기</button>
					</div>
					<!-- 검색 결과가 없을 때: 안내 문구 출력 -->
					<div th:if="${#lists.isEmpty(plist)}" 
						 style="text-align:center; margin-top:150px; font-weight:bold; font-size:50px;">
					 	검색 결과가 없습니다.
					 	<div class="flex_end"><button type="button" class="button1" id="btn_Write">작성하기</button></div>
					</div>
				</div>
            </section>
        </div>
    </body>
</html>