<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>결재문서 반려창(모달예정)</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>

    <body>
        <!-- header 시작 -->
        <header th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <aside th:insert="fragments/nav"></aside>
            <!-- nav 종료 -->

            <section class="contents">
                <form id="frm" name="frm">
                    <div class="upload-wrapper">
                        <h3 class="tit_h3">반려 사유</h3>

                        <table>
                            <tr class="form-row">
                                <th>기안내용</th>
                                <td><textarea placeholder="반려사유를 입력하세요."></textarea></td>
                            </tr>
                        </table>

                        <div class="btn_frame2">
							<button type="button" class="button1">반려</button>
                            <button type="button" class="button2">닫기</button>
                        </div>
                            
                    </div>
                </form>

            </section>
        </div>
    </body>
</html>