<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>사원 목록</title>
        <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/jquery-ui.css">		
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
        <!-- header 시작 -->
        <header class="header" th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <header class="aside" th:insert="fragments/nav"></header>
            <!-- nav 종료 -->

            <section class="contents">
                <form id="frm" name="frm">
                    <div class="upload-wrapper">
                        <h3 class="tit_h3">휴가신청</h3>

                        <table>
                            <tr class="form-row">
                                <th>휴가일자</th>
                                <td>
									<div class="flex_between">
										<input type="date" value="2025-08-18" /> &nbsp;&nbsp;&nbsp; <input type="date" value="2025-08-30" />
									</div>
								</td>
                            </tr>
                            <tr class="form-row">
                                <th>제목</th>
                                <td><input type="text" placeholder="제목을 입력하세요" /></td>
                            </tr>
                            <tr class="form-row">
								<th>결재자</th>
								<td class="flex_between">
									<div id="approverList" >
										<div class="flex_between">
											<input type="text" name="approvers" placeholder="결재자 이름 입력" /> &nbsp;
											<button class="button1" type="button">즐겨찾기</button> &nbsp;
											<button class="button1" type="button" onclick="removeApprover(this)">삭제</button>
										</div>
									</div>
									<div class="btn_frame3">
										<button class="button1" type="button" onclick="addApprover()">+ 결재자 추가</button>
									</div>
								</td>
							</tr>
                            <tr class="form-row">
                                <th>수신자</th>
                                <td><input type="text" placeholder="수신자" /></td>
                            </tr>
                            <tr class="form-row">
                                <th>공유자</th>
                                <td><input type="text" placeholder="공유자" /></td>
                            </tr>
							<tr class="form-row">
                                <th>첨부문서</th>
                                <td>
									<div class="flex_between">
										<input type="text" placeholder="첨부문서" />
										<button class="button1" type="button">첨부문서</button>
									</div>
								</td>
								
                            </tr>
                            <tr class="form-row">
                                <th>기안내용</th>
                                <td><textarea placeholder="기안내용을 입력하세요."></textarea></td>
                            </tr>
                        </table>

                        <div class="btn_frame2">
							<button type="button" class="button1">임시보관함</button>
                            <button type="button" class="button1">기안 상신</button>
                            <button type="button" class="button2">닫기</button>
                        </div>
                            
                    </div>
                </form>

            </section>
        </div>
    </body>
</html>