<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>전자결재 기안화면</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/jquery-ui.css">
  	<script src="/js/jquery-3.7.1.js"></script>
  	<script src="/js/jquery-ui.js"></script>
  	<script src="/js/jquery-3.6.0.min.js"></script>
  	<script src="/js/script.js"></script>

</head>
<style>
  
</style>
<body>
<!-- header include -->
<header th:insert="fragments/header"></header>
<div class="flex_between">
<!-- nav include -->
<nav th:insert="fragments/nav"></nav>

<section class="contents">	
	<form id="frm" name="frm">
		<table border="1">
			<tr>
				<td>
				<label for="title">제목</label>
				<input type="text" id="title" name="title">
				</td>
			</tr>
			<tr>
				<td>
				<label for="writer">작성자</label>
				<input type="text" id="writer" name="writer">
				</td>
			</tr>
			<tr>
				<td>
				<label for="department">부서</label>
				<input type="text" id="department" name="department">
				</td>
			</tr>
			<tr>
				<td>
				<label for="date">작성일</label>
				<input type="date" id="date" name="date" >
				</td>
			</tr>
			<tr>
				<td>
				<label for="content">내용</label>
				<textarea id="content" name="content" rows="8" ></textarea>
				</td>
			</tr>
			<tr>
				<td>
				<label for="approver">결재자 지정</label>
				<select id="approver" name="approver">
				<option value="manager">매니저</option>
				<option value="director">이사</option>
				<option value="ceo">대표</option>
				</select>
				</td>
			</tr>
		</table>
		<div>
		  <button type="submit">결재 요청</button>
		  <button type="reset">취소</button>
		</div>
	</form>
</section>
</div>
</body>
</html> 






	
    	