<div th:fragment="orgModal">
  <div id="orgChartModal"
       style="display:none;
              position:fixed;
              top:0; left:0; right:0; bottom:0;
              background:rgba(0,0,0,0.5);
              justify-content:center;
              align-items:center;
              z-index:9999;">
    <div style="background:white;
                width:600px;
                max-height:80vh;
                overflow:auto;
                padding:20px;
                position:relative;">
      <button id="closeOrgBtn"
              style="position:absolute; top:10px; right:10px;">✕</button>
      <h3 class="tit_h3">조직도</h3>

      <div class="org_tree">
        <ul>
          <li th:each="entry : ${deptMap}">
            <strong th:each=" code : ${list2}"
            		th:if="${code.ucode} == ${entry.key}"
            		th:text="${code.ncode}">부서코드</strong>
        
            <ul>
              <li th:each="emp : ${entry.value}">
                <a href="#"
                   class="org-user-btn"
                   th:each=" code : ${list2}"
                   th:attr="data-name=${emp.name}, data-empno=${emp.empno}"
                   th:if="${code.ucode} == ${emp.position}"
                   th:text="${code.ncode + ' : ' + emp.name}">이름</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>