<!-- 11 -->
<div th:fragment="favModal">
  <div id="favModal"
       style="display:none;
              position:fixed;
              top:0; left:0; right:0; bottom:0;
              background:rgba(0,0,0,0.5);
              justify-content:center;
              align-items:center;
              z-index:9999;">
    <div style="background:white;
                width:400px;
                max-height:80vh;
                overflow:auto;
                padding:20px;
                position:relative;">
      <button id="closeFavBtn"
              style="position:absolute; top:10px; right:10px;">✕</button>
      <h3 class="tit_h3">즐겨찾기 결재자</h3>
      <ul>
        <li th:each="emp : ${favEmpList}">
        	<span th:each="code : ${list2}"
		        th:if="${code.ucode} == ${emp.position}"
		        th:text="${code.ncode}"></span>
        :
		  <span class="fav-user-btn"
		        th:attr="data-name=${emp.name},data-empno=${emp.empno}"
		        style="cursor:pointer;"
		        th:text="${emp.name}"></span>		  
		</li>
        <li th:if="${#lists.isEmpty(favEmpList)}">즐겨찾기한 사원이 없습니다.</li>
      </ul>
    </div>
  </div>
</div>
