<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>전체메일함</title>
		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/jquery-3.6.0.min.js"></script>
		<script src="/js/script.js"></script>
	</head>
	<body>
		<!-- header include -->
		<header th:insert="fragments/header"></header>
		<div class="flex_between">
			<!-- nav include -->
			<nav th:insert="fragments/nav"></nav>
			
			<section class="contents">
				<div class="mail_wrapper">
					<h3 class="tit_h3">메일쓰기</h3>
				
					<form>
						<div class="form-row">
							<label for="receiver">받는사람</label>
							<input type="email" id="receiver" placeholder="이메일 주소 입력">
						</div>
				
						<div class="form-row">
							<label for="subject">제목</label>
							<input type="text" id="subject" placeholder="메일 제목 입력">
						</div>
				
						<div class="form-row">
							<label for="file">파일첨부</label>
							<input type="file" id="file" class="file-upload">
						</div>
				
						<div class="form-row">
							<label for="content">내용</label>
							<textarea id="content" placeholder="메일 내용을 입력하세요" style="height:  500px;"></textarea>
						</div>
				
						<div class="btn_frame2">
							<button type="submit" class="button2">취소</button>
							<button type="submit" class="button2">임시저장</button>
							<button type="submit" class="button1">보내기</button>
						</div>
					</form>
				</div>
			</section>
		</div>
	</body>
</html>
