<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="utf-8">
    <title>일정관리 리스트</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/script.js"></script>

<script>

// [이전], [다음] 버튼을 클릭했을 시 반응

/*  {함수의 목적}
 *  이전달의 년/월을 얻음 
 *  다음달의 년/월을 얻음
 */
function fn_next(n) {
	
	/* { 출력  년/월 } */
	let yy = Number($("#span_year").text());
	let mm = Number($("#span_month").text());

	let send_yy = ""; // 이전달 또는 다음달의 년도을 담을 예정
	let send_mm = ""; // 이전달 또는 다음달의 월을 담을 예정
	
	// if문으로 {이전}을 클릭했는지 {다음}을 클릭했는지 구별
	if( n == 2 ) {       // 다음 연월 세팅
		send_yy = yy;
		send_mm = mm+1;
		if( send_mm > 12 ) {
			send_yy = send_yy + 1;
			send_mm = 1;
		}
	} else if(n == 1) {  // 이전 연월 세팅
		send_yy = yy;
		send_mm = mm-1;
		if( send_mm == 0 ) {
			send_yy = send_yy - 1;
			send_mm = 12;
		}
	}
	// 화면이동 :: 출력 년/월을 세팅하여 화면을 다시 오픈
	location = "/schedule?year="+send_yy+"&month="+send_mm;
}

function fn_action(y,m,d) {
	let parm = "y="+y+"&m="+m+"&d="+d;
	let url  = "/schedule/write?"+parm;
	window.open(url,"schedule","width=400,height=400");
}

</script>
    </head>

    <body>
        <!-- header 시작 -->
        <header th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <aside th:insert="fragments/nav"></aside>
            <!-- nav 종료 -->

            <section class="contents">
				<!-- 파일 목록 영역 -->
			    <div class="flex_between">
                        
                   	<div class="sel_day_box">
                   		<div class="sel_year">
                   			<select id="sel_year">
                   				<option value="">2027</option>
                   				<option value="">2026</option>
                   				<option value="">2025</option>
                   				<option value="">2024</option>
                   				<option value="">직접입력</option>
                   			</select>
                   		</div>
                   		<div class="sel_month">
                   			<ul class="month_list flex_between">
                   				<li><a href="#none">1월</a></li>
                   				<li><a href="#none">2월</a></li>
                   				<li><a href="#none">3월</a></li>
                   				<li><a href="#none">4월</a></li>
                   				<li><a href="#none">5월</a></li>
                   				<li><a href="#none">6월</a></li>
                   				<li><a href="#none">7월</a></li>
                   				<li><a href="#none">8월</a></li>
                   				<li><a href="#none">9월</a></li>
                   				<li><a href="#none">10월</a></li>
                   				<li><a href="#none">11월</a></li>
                   				<li><a href="#none">12월</a></li>
                   			</ul>
                   			<a href="#none">오늘</a>
                   		</div>
                   	</div>

                    <div class="schedule con_item">
                        <div class="flex_center">
                            <div class="table_frame">
                                <div class="btn_frame1 flex_start">
                                	<h5>일정관리</h5>
                                    <button type="button" onclick="fn_next(1)" class="button1">이전</button>
                                    <span id="span_year" th:text="${yy}"></span>년
                                    <span id="span_month" th:text="${mm+1}"></span>월
                                    <button type="button" onclick="fn_next(2)"  class="button1">다음</button>
                                    <button type="button" onclick="location='/index'" class="button1">오늘</button>
                                    <button type="button" id="testbtn">test</button>
                                </div>
                                <table class="calendar">
	                                <colgroup>
	                                    <col width="14.444%">
	                                    <col width="14.444%">
	                                    <col width="14.444%">
	                                    <col width="14.444%">
	                                    <col width="14.444%">
	                                    <col width="14.444%">
	                                    <col width="14.444%">
	                                </colgroup>
                                    <tr>
                                        <th>일</th>
                                        <th>월</th>
                                        <th>화</th>
                                        <th>수</th>
                                        <th>목</th>
                                        <th>금</th>
                                        <th>토</th>
                                    </tr>
                                    <tr th:with="newline='</tr><tr>',cnt=${dayOfWeek-1}">
                                    	<!-- 공백 -->
                                    	<th:block th:each="dd:${#numbers.sequence(1,cnt)}">
                                    		<th:block th:if="${cnt>0}">
                                    			<td></td>
                                    		</th:block>
                                    	</th:block>
                                    	
                                    	<!-- 반복문(날짜출력) -->
					        			<td th:each="dd:${#numbers.sequence(1,lastDay)}"
					        				th:onClick="|fn_action(${yy},${mm},${dd})|"
					        				class="date_click">
					        			
					        				<th:block th:if="${(tyy>yy) || 
					        								   (tyy==yy && tmm>mm) || 
					        								   (tyy==yy && tmm==mm && tdd>dd)}" 
					        						  th:with="bg='green'">
					        					<!-- <span th:text="${bg}"></span> -->
					        				</th:block>
					        				
					        				<th:block th:if="${tyy==yy && tmm==mm && tdd==dd}">
						        				<span th:style="${'color:green;font-weight:bold;'}" th:text="${dd}"></span>
					        				</th:block>
					        				
					        				<th:block th:if="${tyy!=yy || tmm!=mm || tdd!=dd}">
						        				<!-- (출력날짜 + 공백회수)%7 결과값이 0이면 토요일  -->
						        				<th:block th:if="${(dd+cnt)%7 == 0}">
						        					<span th:style="${'color:blue;'}" th:text="${dd}"></span>
						        				</th:block>
						        				<th:block th:if="${(dd+cnt)%7 == 1}">
						        					<span th:style="${'color:red;'}" th:text="${dd}"></span>
						        				</th:block>
						        				<th:block th:if="${(dd+cnt)%7 > 1}">
						        					<span th:text="${dd}"></span>
						        				</th:block>
					        				</th:block>
					        				<!-- 예약정보 목록 -->
				
											<div style="font-size:10px;text-align:left;height:60px;">
												<!-- 예약일 포함하여 예약정보 목록 -->
												<th:block th:each="result : ${list}"
														  th:with="num1=${#numbers.formatInteger(result.dd,2)},
																   num2=${#numbers.formatInteger(dd,2)}">
													<th:block th:if="${num1==num2}">
														<ul>
													   		<li th:utext="${result.schetitle} + ${result.schecont}" class="scheList"></li>
													   	</ul>
													</th:block> 
												</th:block>
											</div>
					        				
					        				<!-- 한줄(7칸) 다 채웠을 경우 세팅 -->
					        				<th:block th:if="${(dd+cnt)%7 == 0}" th:utext="${newline}"></th:block>
					        			</td>
                                    	
                                    	<!-- 공백 -->
                                    	<th:block th:each="dd:${#numbers.sequence((cnt+lastDay)%7,6)}">
                                    		<td th:if="${(cnt+lastDay)%7>0}"></td>
                                    	</th:block>
                                    </tr>
                                    
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    
			    </div>
			</section>
        </div>
        
        <!-- modal 시작 -->
        <span th:insert="schedule/modal"></span>
        <!-- modal 종료 -->
    </body>
</html>









