<header class="header flex_between">
    <div class="logo">
        <h1>logo</h1>
        <span class="blind"></span>
    </div>
    <div class="header_cate">
        <ul class="category_list flex_start">
            <li>
                <a href="#none">aaa</a>
            </li>
            <li>
                <a href="#none">bbb</a>
            </li>
            <li>
                <a href="#none">ccc</a>
            </li>
            <li>
                <a href="#none">fff</a>
            </li>
        </ul>
    </div>
</header>