<aside class="aside">
    <nav class="nav">
        <ul class="main">
            <li>
                <a href="#" class="flex_between">
                    <span>공지사항</span>
                    <span class="arr_btm"></span>
                </a>
                <ul class="sub">
                <li><a href="/Inotice/UserList">전체공지</a></li>
				<li><a href="/Gnotice/UserList">일반공지</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="flex_between">
                    <span>전자결재</span>
                    <span class="arr_btm"></span>
                </a>
                <ul class="sub">
                    <li><a th:href="@{/edsm/edsmWrite}">기안</a></li>
                    <li><a th:href="@{/edsm/edsmDraft}">임시보관함</a></li>
                    <li><a th:href="@{/edsm?status=F60002}">결재진행중</a></li>
                    <li><a th:href="@{/edsm}">결재목록</a></li>
                </ul>
            </li>
            <!-- <li>
                <a href="#" class="flex_between">
                    <span>일정관리</span>
                    <span class="arr_btm"></span></a>
                <ul class="sub">
                    <li><a href="/schedule/list">내 스케줄</a></li>
                    <li><a href="#">내 근태확인</a></li>
                    <li><a href="#">부서일정</a></li>
                    <li><a href="#">회의일정</a></li>                  
                </ul> 
            </li> --> 
            <!-- <li>
                <a href="#" class="flex_between">
                    <span>문서관리</span>
                    <span class="arr_btm"></span></a>
                <ul class="sub">
                    <li><a href="#">문서목록</a></li>
                    <li><a href="#">문서업로드</a></li>
                    <li><a href="#">내가 올린 문서</a></li>
                    <li><a href="#">삭제문서</a></li>
                </ul>
            </li> -->
            <li>
                <a href="#" class="flex_between">
                    <span>메일</span>
                    <span class="arr_btm"></span>
                </a>
                <ul class="sub">
                    <li><a href="/mail">전체 메일함</a></li>
                    <li><a href="/mail/mailin">수신 메일함</a></li>
                    <li><a href="/mail/mailout">발신 메일함</a></li>
                    <li><a href="/mail/mailtome">내게 쓴 메일함</a></li>
                    <li><a href="/mail/maildrafts">임시보관 메일함</a></li>
                    <li><a href="/mail/mailblock">차단 메일함</a></li>
                    <li><a href="/mail/mailtrash">삭제 메일함</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="flex_between">
                    <span>관리자페이지</span>
                    <span class="arr_btm"></span>
                </a>
                <ul class="sub">
                    <li><a th:href="@{/emp/empList}">사원관리</a></li>
					<li><a href="/Inotice/AdminList">전체공지사항관리</a></li>
					<li><a href="/Gnotice/AdminList">일반공지사항관리</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>