/* flex_style */
.flex_between {display: flex !important; justify-content: space-between;}
.flex_around {display: flex !important; justify-content: space-around;}
.flex_center {display: flex !important; justify-content: center;}
.flex_end {display: flex !important; justify-content: flex-end;}
.flex_start {display: flex !important; justify-content: flex-start;}


/* header */
.header {height: 80px; background: #fff; line-height: 80px; padding-left: 20px; position: fixed; top: 0; left: 0; right: 0; z-index: 101; background: #7e7c7d;}
.logo {position: relative;}
.logo a {background: url(../images/GroupWareLOGO_1.jpg) no-repeat left center / cover; width: 135px; height: 80px; display: block; position: absolute; top: 50%; transform: translateY(-50%);}
.category_list {gap: 50px; padding-right: 20px;}


/* 아코디언메뉴 */
.aside {width: 200px; height: 100vh; border-right: 1px solid #d1d1d1; background: #f4f6fa; position: fixed; top: 0; left: 0; z-index: 100; overflow-y: auto; padding-top: 80px;}
.main {width: 100%;}
.main>li {padding: 5px 20px; width: 100%;}
.main>li>a {display: block; width: 100%; height: 40px; line-height: 40px; font-size: 20px; padding-left: 15px; font-size: 16px; transition: .2s; border-radius: 4px;}
.main>li>a .arr_btm {background: url(../images/arrow_bottom_111.png) no-repeat center center/ contain; display: inline-block; position: relative; top: 50%; right: 5%; transform: translateY(-50%) rotate(0deg); transition: transform 0.3s ease; width: 10px; height: 6px;}
.main>li>a:hover {background: #777; color: #fff;}
.main>li>a:hover .arr_btm {background: url(../images/arrow_bottom_fff2.png) no-repeat center center/ contain;}
.main>li>a .arr_btm.rotate {transform: translateY(-50%) rotate(180deg);}
.sub {display: none;}
.sub li {margin-bottom: 5px;}
.sub li a {display: block; height: 30px; line-height: 30px; padding-left: 15px; width: 100%;}
.sub li a::after {content: " "; background: #777; position: relative; bottom: 1px; display: block; width: 100%; height: 1px; transform: scaleX(0); transform-origin: left; transition: ease-in-out .3s;}
.sub li a:hover::after {transform: scaleX(1);}


/* contents */
.contents {width: 100%; padding: 20px 40px; margin: 80px 0 0 200px;}
.con_items {gap: 10px; margin-bottom: 10px;}
.con_item {padding: 20px; background: #fff; border-radius: 30px; transition: .3s; border: 1px solid #d1d1d1;}
.con_item:hover {box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);}
.table_frame {width: 100%;}
.board_table1 {width: 100%;}
.board_table1 tr {height: 28px;}
.board_table1 .tbl_sub_tit a {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; width: 90%; padding-left: 10px;}

.btn_frame1 {font-size: 18px; gap: 10px; padding-bottom: 15px; position: sticky; top: 0; background: #fff; z-index: 1;}
.btn1 {background: #d1d1d1; cursor: pointer;}

.schedule {width: 100%;}
.calendar {width: 100%;}
.calendar th {height: 40px; border: 1px solid #d1d1d1; border-bottom: none; background: #f9f9f9; text-align: center; font-weight: bold;}
.calendar td {height: 70px; border: 1px solid #d1d1d1;}

.con_box1 {width: 100%; display: flex; flex-direction: column; gap: 10px; height: 100%;}
.approve {height: 290px; overflow: hidden; display: flex; flex-direction: column; height: 50%;}
.approve .scroll_inner {overflow-y: auto; box-sizing: content-box;}
.notice {height: 200px; overflow-y: auto; display: flex; flex-direction: column; height: 50%;}
.notice .scroll_inner {overflow-y: auto; box-sizing: content-box;}
.scroll_inner {padding-right: 10px;}

.scroll_inner::-webkit-scrollbar {
 width: 8px;
}
.scroll_inner::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.scroll_inner::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 4px;
}


.extra {width: 100%; height: 200px;}


/* media */
@media (max-width: 9999px) {

}