/* 공통 css */
.table1 {width: 100%; border-top: 2px solid #777; margin: 20px 0;}
.table_tit1 {padding: 5px 0; text-align: left;}
.table1 th,.table1 td {border-bottom: 1px solid #ddd; padding: 10px; text-align: center;}
.table1 th {background: #e9e9e9;}
.table1 tr:hover {background: #f9f9f9;}
.table_box1 {margin-bottom: 50px;}
.table_box2 {margin-top: 20px;}
.table_box:last-child {margin-bottom: 0;}

.tit_h3 {height: 50px; line-height: 50px; font-size: 18px; margin-bottom: 20px;}

input[type="file"] {flex: 1;}
input[type="radio"] {margin-right: 5px;}
input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="time"],
  input[type="password"],
  input[type="datetime-local"]
    {width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;}
select {padding: 10px; border-radius: 4px; border: 1px solid #bbb;}
.select1 {width: 50% !important;}
.input1 {width: 50% !important;}
.input_search {width: 300px !important;}
label {width: 100px; font-weight: 500; display: inline-block;}
textarea {width: 100%; flex: 1; padding: 10px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px; height: 200px; resize: vertical;}

.upload-wrapper {max-width: 800px; margin: 40px auto; background: #fff; border: 1px solid #ddd; border-radius: 6px; box-shadow: 0 2px 6px rgba(0,0,0,0.05); padding: 30px 40px;}
.upload-wrapper table {width: 100%;}
.upload-header {font-size: 20px; font-weight: bold; margin-bottom: 20px;}

.form-row {display: flex; align-items: center; margin-bottom: 18px;}
.form-row td {width: 100%;}
.form-row label,th {width: 100px; font-weight: 500; text-align: left;}

.searchbox {gap: 10px; display: flex; justify-content: flex-end; }

.approvers {gap: 10px;}
#approverList {margin-top: 5px; gap: 10px;}


/* paging */
.paging {display: flex; justify-content: center; gap: 5px;}
.paging a {padding: 5px 8px; text-align: center; border: 1px solid #d1d1d1; border-radius: 5px; transition: .2s; background: #fff;}
.paging a:hover {background: #f0f0f0; color: #111;}
.paging a.active {background: #777; color: white; border-color: #777;}
.paging .page_num {margin: 0 10px;}
.paging a.active {background: #999; color: white; border-color: #777;}
.paging a.active:hover {background: #777; color: #fff;}


/* button */
button {border-radius: 5px !important; font-size: 1.5rem; transition: .2s; cursor: pointer !important;}
.btn_frame2 {gap: 10px; display: flex; justify-content: flex-end; align-items: center; padding-top: 20px;}
.btn_frame3 {gap: 10px; display: flex; justify-content: center; align-items: center; padding: 20px 0;}
.button-row {display: flex; justify-content: flex-end; margin-top: 30px;}
.search_button {padding: 8px 20px; background: #777; color: white; border: none; font-weight: bold; cursor: pointer;}
.button1 {padding: 8px 20px; border: 1px solid #777; color: white; background: #999; font-weight: bold;}
.button1:hover {background: #777;}
.button2 {padding: 8px 20px; border: 1px solid #777; color: #777; background: white; font-weight: bold;}
.button2:hover {background: #e5e5e5;}
.in_tbl_btn1 {padding: 3px 15px; border: 1px solid #777; color: white; background: #999; font-weight: bold;}
.in_tbl_btn1:hover {background: #777;}
/* .button2_1 {padding: 5px 25px; border: 1px solid #777; color: #777; background: white;font-weight: bold; cursor: pointer;} */
.upload-button {background: #777; color: white; border: none; padding: 8px 20px; font-weight: bold;}
.cancel-button {border: 2px solid #777; color: #777; background: white; padding: 8px 20px; font-weight: bold; margin-right: 10px;}


/* dfile */
.content {flex: 1; display: flex; flex-direction: column;}
/* content */
.search {display: flex; justify-content: flex-end; margin-top: 10px; gap: 10px;}
.search_select {padding: 10px; border: 1px solid #ccc; border-radius: 4px;}
.search_input {padding: 10px; width: 250px !important; border: 1px solid #ccc; border-radius: 4px;}
.top_bar {display: flex; justify-content: flex-end; height: 100%;}
.top_left {}
.top_left span {position: relative; top: 60%;}
.data_total {padding: 10px 0;}
.pagination {margin-top: 20px; text-align: center;}
.pagination a {margin: 0 4px; padding: 6px 10px; color: #333; border: 1px solid #ccc; border-radius: 4px; transition: .2s;}
.pagination a.active {background: #777; color: white; border-color: #777;}
.pagination a:hover {background: #f0f0f0; color: #777;}


/* mail */
.mail_wrapper {max-width: 1600px; margin: 0 auto;}

.mail_detail {width: 100%;}
.mail_btn_area {border-top: 1px solid #d1d1d1; display: flex; gap: 10px;}
.mail_btn_area {padding: 10px 0 10px 20px;}
.mail_header, .mail_body {padding: 20px;}

.mail_title {font-size: 20px; padding-bottom: 15px; color: #111;}
.mail_header {border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1;}
.mail_option {}
.sender, .option_item {gap: 20px; padding: 5px 0;}
.opt_tit_area {font-weight: bold;}
.opt_area {}
.time_info {padding-top: 10px;}



/* schedule */
.schedule_box {gap: 20px;}
.sel_day_box {width: 20%; height: 100%; border: 1px solid #d1d1d1; padding: 10px; border-radius: 6px; margin-right: 20px;}
.sel_day_box .sel_month {width: 100%;}
.sel_day_box .sel_month .month_list {width: 100%; flex-wrap: wrap;}
.sel_day_box .sel_month .month_list li {width: 25%; height: 40px; line-height: 30px;}
.sel_day_box .sel_month .month_list li a {width: 80%; transition: .2s; display: inline-block; text-align: center; border-radius: 4px;}
.sel_day_box .sel_month .month_list li a:hover {background: #d1d1d1;}
.sel_year {width: 50%;}
.sel_month {padding: 10px; margin-top: 10px;}

.sub_con_item {box-shadow: none !important; height: 100% !important;}
.calendar {table-layout: fixed; width: 100%;}
.sub_calendar td {height: 100px;}
.calendar td {padding: 0 10px;}
.calendar td:hover {background: #f9f9f9;}

/* modal */
/*.modal_schedule_write,.modal_sd_detail {display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, .3); z-index: 999;}*/
.modal_schedule_write,.modal_sd_detail,.modal_schedule_modify {display: none; z-index: 9999;}
.modal_schedule_write {}
.modal_sd_detail {}
.schedule_wrap {width: 600px; background: #fff; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.2); position: absolute;}
.modal_header {background: #555; border-radius: 12px 12px 0 0; padding: 6px 20px; cursor: move; color: #fff;}
.modal_close_btn {text-align: right; font-size: 23px; cursor: pointer;}
.schedule_wrap i {font-size: 25px; cursor: pointer;}
.modal_contents {padding: 10px 30px 20px;}
.form_list {display: flex; align-items: space-between; margin-bottom: 10px; width: 100%; gap: 10px;}
.form_list .value {width: 85%; padding: 8px; font-size: 14px; background: #f9f9f9; border: 1px solid #ccc; border-radius: 4px;}
.form_list label {width: 15%;}
.form_list .right {width: 85%; padding: 8px;}
.form_list select {padding: 8px;}
.form_list textarea {height: 130px;}
.form_rightbox, .form_leftbox {display: flex; justify-content: space-between; align-items: center; width: 50%;}
#modal_1, #modal_2, #modal_3 {position: absolute; top: 200px; left: 50%; transform: translateX(-50%); z-index: 1000;}
.scheList {z-index: 100; display: block; cursor: pointer; width: 90%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.scheList:hover {background: #e1e1e1;}



#approverList {width: 100%;}


/* notice */
.notice_wrapper {max-width: 800px; margin: 0 auto; background: #fff; border: 1px solid #ddd; border-radius: 6px; box-shadow: 0 2px 6px rgba(0,0,0,0.05); padding: 10px 40px 20px;}

.modify_table, .write_table, .detail_table {width: 100%;}

.div_content {height:350px;	overflow-y: auto;}



/* loginpage */
.login_frame {height: 100vh; display: flex; justify-content: center; align-items: center;}
.login_box {background: #fff; padding: 40px 30px; border-radius: 12px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); width: 100%; max-width: 400px;}
.login_box h2 {text-align: center; margin-bottom: 30px; color: #333;}
.input_group {position: relative; margin-bottom: 25px;}
.input_group input {width: 100%; padding: 14px 40px 14px 15px; border: 1px solid #ccc; border-radius: 8px; outline: none; transition: 0.3s;}
.input_group input:focus {box-shadow: 0 0 5px rgba(245, 163, 1, 0.3);}
.input_group .fa {position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: #999;}
.login_btn {width: 100%; padding: 14px; background: #999; border: none; border-radius: 8px; color: #fff; font-weight: bold; font-size: 16px; cursor: pointer; transition: 0.3s;}
.login_btn:hover {background: #777;}