<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>시스템메인</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/jquery-ui.css">
  	<script src="/js/jquery-3.7.1.js"></script>
  	<script src="/js/jquery-ui.js"></script>
  	<script src="/js/jquery-3.6.0.min.js"></script>
  	<script src="/js/script.js"></script>
</head>

<body>
<!-- header include -->
<header th:insert="fragments/header"></header>
<div class="flex_between">
<!-- nav include -->
<nav th:insert="fragments/nav"></nav>
<section>
	 <a href="">메인으로 돌아가기</a>
  <h1>사원정보 추가</h1>

  <form>
    <table>
      <tr>
        <th><label for="empno">사원번호</label></th>
        <td><input type="text" id="empno" name="empno" ></td>
      </tr>
      <tr>
        <th><label for="userid">아이디</label></th>
        <td><input type="text" id="userid" name="userid" ></td>
      </tr>
      <tr>
        <th><label for="pass">비밀번호</label></th>
        <td><input type="password" id="pass" name="pass" ></td>
      </tr>
      <tr>
        <th><label for="name">이름</label></th>
        <td><input type="text" id="name" name="name" ></td>
      </tr>
      <tr>
        <th><label for="deptno">부서번호</label></th>
        <td><input type="text" id="deptno" name="deptno" placeholder="예: 101" ></td>
      </tr>
      <tr>
        <th><label for="posno">직급번호</label></th>
        <td><input type="text" id="posno" name="posno" placeholder="예: 1001" ></td>
      </tr>
      <tr>
        <th><label for="rdate">등록날짜</label></th>
        <td><input type="datetime-local" id="rdate" name="rdate" value=""></td>
      </tr>
    </table>

    <div>
      <button type="submit">등록</button>
      <button type="reset">초기화</button>
    </div>
  </form>

</section>
</div>
</body>
</html>
