<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>코드 등록 시스템</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
	<script>
 	$( function() {
	
   		$("#btn_submit").click( function(){
   			if( $("#cdtype").val() == "" ) {
				alert("코드타입을 입력하세요.");
				$("#cdtype").focus();
				return false;
   			}
   			if( $("#cdvalue").val() == "" ) {
				alert("코드값을 입력하세요.");
				$("#cdvalue").focus();
				return false;
   			}

   			let form = $("#frm").serialize();
			$.ajax({
				type:"post",
				url:"/gcode/codeSave",
				data:form, 
   				datatype:"text",
   				success:function(data) { 
					if( data == "1" ) { 
						alert("코드저장완료!");
						location="/gcode/codeList";
					} else {
						alert("코드저장실패!");
					}
   				},
   				error:function(){	
					alert("전송실패!");
   				}
   			});
   		});
  	});
  	</script>
    <body>
        <!-- header 시작 -->
        <header class="header" th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <header class="aside" th:insert="fragments/nav"></header>
            <!-- nav 종료 -->

            <section class="contents">
                
                <form id ="frm" name="frm">
                    <div class="upload-wrapper">
                                
                        <h3 class="tit_h3">코드 등록</h3>

                        <table>
                            <tr class="form-row">
                                <th><label for="cdtype">코드유형</label></th>
                                <td><input type="text" id="cdtype" name="cdtype" ></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="cdvalue">코드값</label></th>
                                <td><input type="text" id="cdvalue" name="cdvalue" ></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="cdexplan">코드설명</label></th>
                                <td><input type="text" id="cdexplan" name="cdexplan" ></td>
                            </tr>
                        </table>

                        <div class="btn_frame2">
                            <button type="button" class="button1" id="btn_submit">등록</button>
                            <button type="reset" class="button2">초기화</button>
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </body>
</html>

