<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>부서 등록 시스템</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
	<script>
 	$( function() {
	
   		$("#btn_submit").click( function(){
   			if( $("#deptnm").val() == "" ) {
				alert("부서명을 입력하세요.");
				$("#deptnm").focus();
				return false;
   			}
   			if( $("#depttm").val() == "" ) {
				alert("팀명을 입력하세요.");
				$("#depttm").focus();
				return false;
   			}

   			let form = $("#frm").serialize();
			$.ajax({
				type:"post",
				url:"/dept/deptSave",
				data:form, 
   				datatype:"text",
   				success:function(data) { 
					if( data == "1" ) { 
						alert("부서저장완료!");
						location="/dept/deptList";
					} else {
						alert("부서저장실패!");
					}
   				},
   				error:function(){	
					alert("전송실패!");
   				}
   			});
   		});
  	});
  	</script>
    <body>
        <!-- header 시작 -->
        <header class="header" th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <header class="aside" th:insert="fragments/nav"></header>
            <!-- nav 종료 -->

            <section class="contents">
                
                <form  id ="frm" name="frm">
                    <div class="upload-wrapper">
                                
                        <h3 class="tit_h3">부서등록</h3>

                        <table>
                        	 <tr class="form-row">
                                <th><label for="deptno">부서번호</label></th>
                                <td><input type="text" id="deptno" name="deptno" th:value="${code}" readonly></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="deptnm">부서명</label></th>
                                <td><input type="text" id="deptnm" name="deptnm" ></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="depttm">팀 명</label></th>
                                <td><input type="text" id="depttm" name="depttm" ></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="deptst">사용유무</label></th>
                                <td>
									<select name="deptst">
										<option value="Y">사용</option>
										<option value="N">불가</option>
									</select>
						      	</td>
                            </tr>
                        </table>

                        <div class="btn_frame2">
                            <button type="submit" class="button1" id="btn_submit">등록</button>
                            <button type="reset" class="button2">초기화</button>
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </body>
</html>

