<!--  -->

<div class="upload-wrapper">
            
    <h3 class="tit_h3">사원</h3>

    <table>
        <tr class="form-row">
            <th><label for="name">이름</label></th>
            <td><input type="text" id="name" name="name" th:value="${dto.name}" readonly></td>
        </tr>
        <tr class="form-row">
            <th><label for="name">이메일</label></th>
            <td><input type="text" id="email" name="email" th:value="${dto.email}" readonly></td>
        </tr>
        <tr class="form-row">
            <th><label for="phone">휴대폰번호</label></th>
            <td><input type="text" id="phone" name="phone" th:value="${dto.phone}" readonly></td>
        </tr>
	
	</table>
</div>