<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>직원 등록 시스템</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
	<script>
 	$( function() {
	
   		$("#btn_submit").click( function(){
   			if( $("#userid").val() == "" ) {
				alert("아이디를 입력하세요.");
				$("#userid").focus();
				return false;
   			}
   			if( $("#pass").val() == "" ) {
				alert("비밀번호를 입력하세요.");
				$("#pass").focus();
				return false;
   			}
   			if( $("#name").val() == "" ) {
				alert("이름을 입력하세요.");
				$("#name").focus();
				return false;
   			}

   			let form = $("#frm").serialize();
			$.ajax({
				type:"post",
				url:"/emp/empSave",
				data:form, 
   				datatype:"text",
   				success:function(data) { 
					if( data == "1" ) { 
						alert("사원저장완료!");
						location="/emp/empList";
					} else {
						alert("사원저장실패!");
					}
   				},
   				error:function(){	
					alert("전송실패!");
   				}
   			});
   		});
  	});
  	</script>
    <body>
        <!-- header 시작 -->
        <header class="header" th:insert="fragments/header"></header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <header class="aside" th:insert="fragments/nav"></header>
            <!-- nav 종료 -->

            <section class="contents">
                
                <form id ="frm" name="frm">
                    <div class="upload-wrapper">
                                
                        <h3 class="tit_h3">사원등록</h3>

                        <table>
                            <tr class="form-row">
                                <th><label for="userid">아이디</label></th>
                                <td><input type="text" id="userid" name="userid" ></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="pass">비밀번호</label></th>
                                <td><input type="text" id="pass" name="pass" ></td>
                            </tr>
                            <tr class="form-row">
                                <th><label for="name">이름</label></th>
                                <td><input type="text" id="name" name="name" ></td>
                            </tr>
                            <tr class="form-row">
					        <th><label for="deptno">부서</label></th>
					        <td>
								<select name="deptno">
									<option th:each="result3 : ${list3}"
											th:value="${result3.deptno}"
											th:text="${result3.deptnm + ' ' + result3.depttm}"></option>
								</select>
							</td>
					      </tr>
					      <tr class="form-row">
					        <th><label for="posno">직급</label></th>
					        <td>
					        	<select name="posno">
									<option th:each="result2 : ${list2}"
											th:value="${result2.posno}"
											th:text="${result2.posnm}"></option>
								</select>
					        </td>
					      </tr>
                        </table>

                        <div class="btn_frame2">
                            <button type="submit" class="button1" id="btn_submit">등록</button>
                            <button type="reset" class="button2">초기화</button>
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </body>
</html>

