<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>직급 목록</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
	<script>
	function fn_delete(posno) {
		if( !confirm("삭제하시겠습니까?") ) {
			return false;
		}
		$.ajax({
			type : "post",
			url  : "/position/posDelete",
			data : "posno="+posno, 
			datatype:"text",
			success:function(data) { 
				if( data == "1" ) { 
					alert("직급삭제완료!");
					location="/position/posList";
				} else {
					alert("직급삭제실패!");
				}
			},
			error:function(){	
				alert("전송실패!");
			}
		});
	}
  	</script>
    <body>
        <!-- header 시작 -->
        <!-- <header class="header" th:insert="fragments/header"></header> -->
        <header class="header flex_between">
            <div class="logo">
                <h1>logo</h1>
                <span class="blind"></span>
            </div>
            <div class="header_cate">
                <ul class="category_list flex_start">
                    <li>
                        <a href="#none">aaa</a>
                    </li>
                    <li>
                        <a href="#none">bbb</a>
                    </li>
                    <li>
                        <a href="#none">ccc</a>
                    </li>
                    <li>
                        <a href="#none">fff</a>
                    </li>
                </ul>
            </div>
        </header>
        <!-- header 종료 -->

        <div class="flex_between">

            <!-- nav 시작 -->
            <!-- <header class="header" th:insert="fragments/header"></header> -->
            <aside class="aside">
                <nav class="nav">
                    <ul class="main">
                        <li>
                            <a href="#">전자결재</a>
                            <ul class="sub">
                                <li><a href="#">결재기안</a></li>
                                <li><a href="#">결재대기</a></li>
                                <li><a href="#">결재진행</a></li>
                                <li><a href="#">결재완료</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">휴가</a>
                            <ul class="sub">
                                <li><a href="#">휴가신청</a></li>
                                <li><a href="#">휴가일정</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">공지사항</a>
                            <ul class="sub">
                                <li><a href="#"></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">일정관리</a>
                            <ul class="sub">
                                <li><a href="#"></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">문서관리</a>
                            <ul class="sub">
                                <li><a href="#">문서관리</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">메일</a>
                            <ul class="sub">
                                <li><a href="#">받은메일</a></li>
                                <li><a href="#">보낸메일</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <!-- nav 종료 -->

            <section class="contents">
                <h3 class="tit_h3">테이블 목록 관리 메인</h3>


                <!-- 직급정보 -->
                <div class="table_box1">
                    <table class="table1">
                        <p>▶ 직급정보 관리</p>
                        <thead>
                            <tr>
                                <th>직급번호</th>
                                <th>직급이름</th>
                                <th>삭제</th>
                            </tr>
                        <tbody>
                            <tr th:each="result : ${list}">
                                <td th:text="${result.posno}"></td>
                                <td th:text="${result.posnm}"></td>
                                <td>
                                	<button type="button" class="button1" 
                                			th:onClick="fn_delete('[[${result.posno}]]')">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="button1" onClick="location='/position/posWrite'">추가등록</button>
                </div>

            </section>
        </div>
    </body>
</html>

