<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>로그인</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/a7926a1c4d.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/script.js"></script>
  </head>
  
  <script>
  
  $(function() {
	
		$("#frm").submit(function() {
			
			event.preventDefault();  // 기본 폼 제출 막기
			let form = $("#frm").serialize(); // serialize() : 폼을 인식하는 함수
			//ajax : {비동기}전송
			$.ajax({
				type	 : "post",	//전송타입
				url		 : "/login", //전송장소
				data     : form,   //전송데이터
				dataType : "text", //받는 데이터 타입
				success  : function(data) { // data변수 : 실제 받은 데이터 값
					if(data == "1") { 		// data변수 값이 "ok" 라면 저장 성공으로 판단함1
						alert("로그인성공!");
						location = "/index";
					}
          else if (data == "2") alert("퇴사한 사원은 로그인 할 수 없습니다.");
					else 			            alert("아이디와 로그인이 일치하지 않습니다.");
				},
				error	 : function() {alert("오류발생!");}
			});
		});
	});
  
  </script>
  
  <body>
    <div class="login_frame">
      <div class="login_box">
        <h2>로그인</h2>
        <form id="frm">
          <div class="input_group">
            <input type="text" name="userid" placeholder="아이디" required />
            <i class="fa fa-user"></i>
          </div>
          <div class="input_group">
            <input type="password" name="pass" placeholder="비밀번호" required />
            <i class="fa fa-lock"></i>
          </div>
          <button type="submit" class="login_btn">로그인</button>
        </form>
      </div>
    </div>
  </body>
</html>